.prod_list{
	top:0px;
	left:30px;
	margin-top: 20px;
     position:relative;
     width:500px;
     height:90px;
     z-index:0;
     border-style:solid;
     border-size:0.5px;
}

#precioInfo{
	position: absolute;
	float:right;
	top:0px;
	right:50px;
	text-align:right;
}
#imgProd_nomProd{
	position absolute;
	padding-top:5px;
	padding-left:30px;
	valign:top;
}
#img_prod{
	width:75px;
	height:75px;
}
#precioListProd{
	font-size:20px;
	font-color:red;
	
}
body{
	width:1280px;
	text-align:left;
}