.imagenProducto{
position:absolute;
width:200px;
height:200px;
}
.infoProducto{
	position:absolute;
	left:425px;
	width:500;
	height:200;
}
.anadirCarrito{
	position:absolute;
	left:940px;
	width:200px;
	height:200px;
}