#header{float:left;width:100%;padding-top:10px;}
#header .logo{padding:0 20px 0;margin:0;font-size:26px}
#header .toolbar{text-align:right;margin-top: 20px;}
#header .logo{width:auto}

#header{z-index:1;position:fixed;background:#fff;z-index:9998;height:80px;border-bottom:1px solid #c6c6c6;visibility:visible !important;}
#header .logo img{margin-top:15px;display:block;width:auto;height:50px}
#header{margin-top:0;min-height:70px;background-color:#fff;}
#header .logo{float:left;width:auto;height:65px}

<!--Buscador-->
.search{float:left;padding:5px;border:0;}
.search input{margin:0;padding-left:24px;padding-right:10px;color:#555;font-size:1.1em;width:100%;border:1px solid rgba(0,0,0,0.1);-webkit-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}
.search button{
border:1px solid rgba(0,0,0,0.1);padding:8px 1em;min-height:0;
height:33px;float:left;
margin-left:50px;padding-left:20px;padding-right:20px;
margin-top: 2px;
background:#bf3288;
background:-webkit-linear-gradient(top, #d056a0 0%, #bf3288 100%);
color:#fff;font-weight:bold;
-webkit-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.search input[type=search]{padding:8px 0 7px 22px;border-color:#d4d4d4}
.search{float:none;margin:0 10px;position:relative;-webkit-box-sizing:padding-box;-moz-box-sizing:padding-box;box-sizing:padding-box;padding:0;}
.search fieldset{width:160px;padding:2px;margin-bottom:0;background:#ebebeb}
.search input,.search input[type=search]{float:left;margin:0;width:160px;font-size:1em}
.search button{position:absolute;top:7px;left:170px;padding-left:12px;padding-right:12px}
.search span{position:absolute;top:23px;left:12px}
.search{position:absolute;top:0;left:50%;margin-left:-19%;margin-top:23px;width:355px;padding:0;}
.search fieldset{overflow:hidden;margin-bottom:0;background:#ebebeb;padding:5px}
.search input,.search input[type=search]{display:block;width:100px;padding:8px 0 7px 22px;}
.search button{position:absolute;top:5px;right:5px;min-width:116px}
.search input,.search input[type=search]{width:305px; height: 18px;}
.btn.btnBold:focus,.btn.btnBold[type="button"]:focus,.btn.btnBold:hover,.btn.btnBold[type="button"]:hover,.btn.btnBold:active,.btn.btnBold[type="button"]:active,.btn.btnBold.active,.btn.btnBold[type="button"].active{color:#fff;background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #d056a0), color-stop(1, #bf3288));}
<!--FIN Buscador-->










