#pagina{
    width: 1000px;
    margin: 0 auto;
}


header{
    position: relative;
    height: 100px;
}
header #logo{
    position: absolute;
}
header .form-group{
    position: absolute;
    margin-left: 400px;
    top:30px;
    width: 350px;
    height: 50px;
}


#seleccion{
    position: relative;
    height: 42px;
    margin-left: 20px;
    z-index:1;
}
.toolbar a{
    height: 50px;
    text-transform: capitalize;
    padding-top: 20px;
    padding-right: 20px;
    
} 

.nav li ul {
display:none;
position:absolute;
min-width:140px;
}

* {
font: serif;
list-style:none;
text-decoration:none;
margin:0;
padding:0;
color: black;
}

#super{
      background-image: url("img/linea-banner.PNG");
        background-repeat: repeat-x;
}

.nav > li {
    
float:left;
}

.nav  li a{
background-color:#FF69B4;
}
.nav li  a:hover {
background:#FF69B4;
list-style:none;
text-decoration:none;
color: #000;

}
.nav li:hover > ul {
display:block;
    color: black;
}



.nav li  a {
    background:#D3D3D3;
    color: black;
    display:block;
    border: 0.1em;
    border-color: #B0B0B0  ;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    padding:10px 10px;
}


.form-group .form-control{
    margin-top: 0px;
    width: 250px;
}

a.btn.btn-defauld.btn-lg.active {
  color: white;
}
.btn.active,
.btn.btn-primary{
    color:#000;
}

.nav li a:hover {
background-color:#FF69B4;
list-style:none;
text-decoration:none;
color: #fff;
}

.nav li ul li {
    position:relative;
    margin-left: -25px;
}
 
.nav li ul li ul {
right:-165px;
top:0;
}
<!--Buscador-->
.search{float:left;}
input#search {
  height: 31px;
}
.search button{
height:30px;float:left;
margin-left:50px;padding-left:20px;padding-right:20px;
margin-top: 9px;
background:#bf3288;

color:#fff;font-weight:bold;
-webkit-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.search fieldset{ height: 50;width:300;padding:2px;margin-bottom:0;background:#ebebeb}

.search button{position:absolute;left:144px;padding-left:12px;padding-right:12px}
.search span{position:absolute;top:13px;left:12px}
.search{position:absolute;top:0;left:50%;margin-left:-19%;margin-top:23px;width:195px;padding:0;}
.search fieldset{overflow:hidden;margin-bottom:0;background:#ebebeb;padding:10px}
.search input,.search input[type=search]{display:block;padding:8px 0 7px 22px;}
.search button{position:absolute;top:2px;right:px;min-width:100px}
.search input,.search input[type=search]{width:220; height: 30px;}
.btn.btnBold:focus,.btn.btnBold[type="button"]:focus,.btn.btnBold:hover,.btn.btnBold[type="button"]:hover,.btn.btnBold:active,.btn.btnBold[type="button"]:active,.btn.btnBold.active,.btn.btnBold[type="button"].active{color:#fff;background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #d056a0), color-stop(1, #bf3288));}
<!--FIN Buscador-->

.panel-heading h3{
    color: grey;
    margin-bottom: 0px;
    font-family:"trebuchet ms", arial, sans-serif;
    width: 600px;
    font-size: 19px;
    font-weight: bold;
}
.toolbar button{
    height:50px;float:left;
    margin-left:10px;padding-left:10px;padding-right:25px;
    padding-bottom: 0px;
}
button#micuenta{
    background:#D3D3D3;
    color:black;
}
header .toolbar{
position: absolute;
   margin-left: 75%;
    top:20px;
    width: 300px;
    height: 70px;
}
.panel-heading h3{
    color:#bf3288;
    margin-bottom: 0px;
    font-family:"trebuchet ms", arial, sans-serif;
    width: 600px;
    font-size: 30px;
    font-weight: bold;
}

#titulo{
    background:white;
    
}

div#infor,
.container-fluid,
div#contenido{
    border: 0px;
}

#panel{
border:1px;
}
#pro,
#impt_bajo .panel{
width: 670px;
}

#search_bttn{
    background:#bf3288;
    color:#fff; 
}

.prod_list{
     position:relative;
    height: 150;
}

#precioInfo{
	position: absolute;
	top:0px;
	right:40px;
    height: 40px;
	text-align:right;
    margin-top: 30px;
    margin-bottom: 80px;
}
#precioInfo h2{
margin-top: 0px;
}
h2.precioListProd p{
    font-size: 12px;
    color: red;
    width: 60px;
    height: 35px;
    padding-top: 10
}
#imgProd_nomProd{
	position absolute;
	padding-top:20px;
	padding-left:30px;
    padding-bottom: 20px;
}
#img_prod{
	width:75px;
	height:80px;
}
#precioInfo button{
    height:45px;
    float:left;
    padding-left:6px;padding-right:5px;
    background:#bf3288;
    color:#fff;
    margin-bottom: 20px;
}
#hpedido{
    position: absolute;
    height: 220;
    width: 250px;
}
div #cesta{
color:black;
    font-weight: normal;
}

#hacer_pedido{
    position: absolute;
    height: 220;
    margin-top: -172px;
    width: 250px;
    margin-left: 680;
}
#hacer_pedido button{
    position: absolute;
    padding-left: 40px;
    padding-right: 40px;
    height: 40px;
    width: 210px;
    right: 20px;;
    top:20px;

}

#hacer_pedido h2.precioListProd p{
    margin-top: 45px;
}

#imp_iqz{
    position: absolute;
    color: black;
    top: 80px;
    width: 70;
    left: 30
}

#impt_bajo{
    position: relative;
    height: 60px;
    width: 670px;
}

#impt_bajo h2.precioListProd p{
margin-top: -18px;
}


div #imgProd_nomProd img{
    height: 60px;
    width: 60px;
}

#datos_compra{
    position: relative;
    width: 670px;
    height: 60px;

}
#impt_bajo div > p{
    padding-top: 20;
    padding-left: 40px;
    
}

.cantidad{
    position: relative;
    margin-left: 140px;
    width: 230;
}
.cantidad textarea{
    width:100px;
    height:21px;
    border: 1px solid #ccc;
    resize:none;
    overflow: hidden;
}
.cantidad .eliminar{
    color:#bf3288;
    background-color: inherit;
    border: 0;
    margin-bottom: 30px;
    margin-top: -6;
    font-size: 13px;
}

