body{}
header{
    position: relative;
    height: 80px;
}
header #logo{
    position: absolute;
}
header .form-group{
    position: absolute;
    margin-left: 400px;
    top:30px;
    width: 350px;
    height: 50px;
}

header .toolbar{
position: inherit;
   margin-left: 80%;
    top:20px;
    width: 180px;
}
#seleccion{
    position: relative;
    height: 45px;
    margin-left: 20px;
}
.toolbar a{
    height: 30px;
    text-transform: capitalize;
    padding-top: 20px;
    padding-right: 20px;
    
} 

.nav li ul {
display:none;
position:absolute;
min-width:140px;
}
* {
font-family:sans-serif;
list-style:none;
text-decoration:none;
margin:0;
padding:0;
}

.nav > li {
float:left;
}

.nav li  a:hover {
background:#fff;
}

.nav li  a {
background:#D3D3D3;
color: black;
display:block;

padding:10px 12px;
}

.form-group .form-control{
    margin-top: 0px;
    width: 250px;
}

.nav li a:hover {
background:#FF69B4;
list-style:none;
text-decoration:none;
color: 000000;
}
.nav li:hover > ul {
display:block;
    color: black;
}
.nav li ul li {
    position:relative;
    margin-left: -25px;
}
 
.nav li ul li ul {
right:-165px;
top:0;
}
<!--Buscador-->
.search{float:left;padding:5px;border:0;}
.search input{margin:0;padding-left:24px;padding-right:10px;color:#555;font-size:1.1em;width:100%;border:1px solid rgba(0,0,0,0.1);-webkit-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}
.search button{
border:1px solid rgba(0,0,0,0.1);padding:8px 1em;min-height:0;
height:33px;float:left;
margin-left:50px;padding-left:20px;padding-right:20px;
margin-top: 2px;
background:#bf3288;
background:-webkit-linear-gradient(top, #d056a0 0%, #bf3288 100%);
color:#fff;font-weight:bold;
-webkit-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.search input[type=search]{padding:8px 0 7px 22px;border-color:#d4d4d4}
.search{float:none;margin:0 10px;position:relative;-webkit-box-sizing:padding-box;-moz-box-sizing:padding-box;box-sizing:padding-box;padding:0;}
.search fieldset{width:160px;padding:2px;margin-bottom:0;background:#ebebeb}
.search input,.search input[type=search]{float:left;margin:0;width:160px;font-size:1em}
.search button{position:absolute;top:7px;left:170px;padding-left:12px;padding-right:12px}
.search span{position:absolute;top:23px;left:12px}
.search{position:absolute;top:0;left:50%;margin-left:-19%;margin-top:23px;width:355px;padding:0;}
.search fieldset{overflow:hidden;margin-bottom:0;background:#ebebeb;padding:5px}
.search input,.search input[type=search]{display:block;width:100px;padding:8px 0 7px 22px;}
.search button{position:absolute;top:4px;right:px;min-width:116px}
.search input,.search input[type=search]{width:305px; height: 18px;}
.btn.btnBold:focus,.btn.btnBold[type="button"]:focus,.btn.btnBold:hover,.btn.btnBold[type="button"]:hover,.btn.btnBold:active,.btn.btnBold[type="button"]:active,.btn.btnBold.active,.btn.btnBold[type="button"].active{color:#fff;background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #d056a0), color-stop(1, #bf3288));}
<!--FIN Buscador-->

#img_prod{
	width:75px;
	height:75px;
}