#pagina{
    width: 1000px;
    margin: 0 auto;
}


header{
    position: relative;
    height: 100px;
}
header #logo{
    position: absolute;
}

header .form-group{
    position: absolute;
    margin-left: 400px;
    top:30px;
    width: 350px;
    height: 50px;
}


#seleccion{
    position: relative;
    height: 42px;
    margin-left: 20px;
    z-index:1;
}

.nav li ul {
display:none;
position:absolute;
min-width:140px;
}

* {
font: serif;
list-style:none;
text-decoration:none;
margin:0;
padding:0;
color: black;
}

#super{
      background-image: url("../img/linea-banner.PNG");
        background-repeat: repeat-x;
}

.nav > li {
    
float:left;
}

.nav  li a{
background-color:#FF69B4;
}
.nav li  a:hover {
background:#FF69B4;
list-style:none;
text-decoration:none;
color: #000;

}
.nav li:hover > ul {
display:block;
    color: black;
}



.nav li  a {
    background:#D3D3D3;
    color: black;
    display:block;
    border: 0.1em;
    border-color: #B0B0B0  ;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    padding:10px 10px;
}


.form-group .form-control{
    margin-top: 0px;
    width: 250px;
}

a.btn.btn-defauld.btn-lg.active {
  color: white;
}
.btn.active,
.btn.btn-primary{
    color:#000;
}

.nav li a:hover {
background-color:#FF69B4;
list-style:none;
text-decoration:none;
color: #fff;
}

.nav li ul li {
    position:relative;
    margin-left: -25px;
}
 
.nav li ul li ul {
right:-165px;
top:0;
}
<!--Buscador-->
.search{float:left;}
input#search {
  height: 31px;
}
.search button{
height:30px;float:left;
margin-left:50px;padding-left:20px;padding-right:20px;
margin-top: 8px;
background:#bf3288;

color:#fff;font-weight:bold;
-webkit-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.search fieldset{ height: 50;width:300;padding:2px;margin-bottom:0;background:#ebebeb}

.search button{position:absolute;left:144px;padding-left:12px;padding-right:12px}
.search span{position:absolute;top:18px;left:15px}
.search{position:absolute;top:0;left:50%;margin-left:-19%;margin-top:23px;width:195px;padding:0;}
.search fieldset{overflow:hidden;margin-bottom:0;background:#ebebeb;padding:10px}
.search input,.search input[type=search]{display:block;padding:8px 0 7px 22px;}
.search button{position:absolute;top:2px;right:px;min-width:100px}
.search input,.search input[type=search]{width:220; height: 30px;}
.btn.btnBold:focus,.btn.btnBold[type="button"]:focus,.btn.btnBold:hover,.btn.btnBold[type="button"]:hover,.btn.btnBold:active,.btn.btnBold[type="button"]:active,.btn.btnBold.active,.btn.btnBold[type="button"].active{color:#fff;background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #d056a0), color-stop(1, #bf3288));}
<!--FIN Buscador-->

.panel-heading h3{
    color: grey;
    margin-bottom: 0px;
    font-family:"trebuchet ms", arial, sans-serif;
    width: 600px;
    font-size: 19px;
    font-weight: bold;
}
.toolbar button{
    height:50px;
    float:left;
    margin-left:10px;
    padding-left:10px;
    padding-right:4px;
    padding-bottom: 0px;
}
button#micuenta{
    background:#D3D3D3;
    color:black;
    padding-right: 10px;
}
.toolbar .ico-pedidos .carrito{
    margin-left: 4px;
    padding: 4px 10px 4px 10px;
    background: #800080;
    color: white;
    -moz-border-radius: 25px;
    border-radius: 25px;
}
.toolbar .ico-pedidos{
    color: white;
}
header .toolbar{
position: absolute;
   margin-left: 75%;
    top:20px;
    width: 300px;
    height: 70px;
}
.panel-heading h3{
    color:#bf3288;
    margin-bottom: 0px;
    font-family:"trebuchet ms", arial, sans-serif;
    width: 600px;
    font-size: 30px;
    font-weight: bold;
}

#titulo{
    background:white;
    
}

div#infor,
.container-fluid,
div#contenido{
    border: 0px;
}

#panel{
border:1px;
}
#pro,
#impt_bajo .panel{
width: 670px;
    
}
#pag_princ{
    position: absolute;
    width: 680;
    height: 280px;
    margin-top: -500px;
    margin-left: 200px;
}

#search_bttn{
    background:#bf3288;
    color:#fff; 
}

.prod_list{
    position:relative;
    height: 150;
}

#precioInfo  {
    position: absolute;
	top:24px;
	right:40px;
    width: 140px; 
    text-align: right;
}
#precioInfo  ins{
    color: red;
    font-size: 1.35em;
}
#precioInfo  span{
    color: red;
    font-size: 0.9em;
}
#hacer_pedido #precioInfo{
    margin-top: 50px;
    width: 70px;
    right: 30px;
}
#imgProd_nomProd{
	position: absolute;
	padding-top:20px;
	padding-left:30px;
    padding-bottom: 20px;
}
#img_prod{
	width:75px;
	height:80px;
}
#precioInfo button{
    height:45px;
    float:left;
    padding-left:6px;padding-right:5px;
    background:#bf3288;
    color:#fff;
    margin-bottom: 20px;
}
#hpedido{
    position: fixed;
    height: 220;
    width: 250px;
}
div #cesta{
color:black;
    font-weight: normal;
}

#hacer_pedido{
    position: fixed;
    height: 220;
    top:231;
    width: 250px;
    margin-left: 700;
}
#hacer_pedido button,
#enviar_cesta button#search_bttn{
    position: static;
    padding-left: 40px;
    padding-right: 40px;
    height: 40px;
    width: 210px;
    margin-left: 20px;
    margin-top: 20px;


}

#hacer_pedido h2.precioListProd p{
    margin-top: 45px;
}

#imp_iqz{
    position: absolute;
    color: black;
    top: 80px;
    width: 70;
    left: 30
}

#impt_bajo{
    position: relative;
    height: 60px;
    width: 670px;
}

#impt_bajo h2.precioListProd p{
margin-top: -18px;
}


div #imgProd_nomProd img{
    height: 60px;
    width: 60px;
}

#datos_compra{
    position: relative;
    width: 670px;
    height: 60px;

}
#impt_bajo div > p:first-child{
    padding-top: 20;
    padding-left: 40px;    
}

.cantidad{
    position: absolute;
    margin-left: 140px;
    height: 60;
    width: 230px;
    margin-top: 90px;
}
.cantidad textarea{
    width:100px;
    height:21px;
    border: 1px solid #ccc;
    resize:none;
    overflow: hidden;
}
.cantidad .eliminar,
#admin-bor button,
.prod_list #bot-editar{
    color:#bf3288;
    background-color: inherit;
    border: 0;
    margin-bottom: 30px;
    margin-top: -6;
    font-size: 13px;
}
#mostrar{
    border: 0;
    width: 680px;
    margin-top: 20px;
}
#busqueda_iz{
    width: 180px;
    height: 500px;
}
#busqueda_iz .container-fluid{
    padding: 0;
    position: absolute;
}
#busqueda_iz .panel-info{
    width:180px;
    background: #B0B0B0;
    padding-left: 0;
}
#busqueda_iz .panel-heading,
#busqueda_iz li{
    width: 178px;
    margin: 0px;
}
#busqueda_iz a{
   border:0;
    background: #B0B0B0;
}
#enviar_cesta {
    position: static;
    margin-top: -170px;
    margin-left: 700;
}
#enviar_cesta > #hpedido{ 
position:static;
}
div #enviar_cesta button#search_bttn{
    color: #000;
    background: #CFE527;
}


#admin-bor .eliminar{
    margin-left: 90%;
    margin-top: 5px;
}
.panel.panel-default{
    box-shadow: none;
}
#categories-menu .input-group-addon{
    padding:3px;
}
#categories-menu .form-control{
    width: 60px;
    padding-left: 2px;
    padding-right: 2px;
}
#categories-menu #cid-1 span:first-child{
    margin-left: 22px;
}
#categories-menu #cid-1 span:nth-child(2){
    margin-left: 40px;
}

#categories-menu .input-group{
    width: 74px;
    margin-left: 8px;
}
#categories-menu .input-group:nth-child(2){
    margin-top: -34px;
    margin-left: 95px;
    padding-bottom: 20px;
}


.Adm-pedido .col-xs-5{
    width: 100%;
}

.Adm-pedido .panel-body{
    height: 120;
    width: 100%;
}
.Adm-pedido{
    height:  180px;
}
.Adm-pedido span{
    
}
.Adm-pedido button{
    margin-left: 400px;
    
}
.prod_list  #descrip-pro{
    position: absolute;
    margin-left: 80px;
    margin-top: -20px;
    width: 400px;
    height: 40px;
    padding-bottom: 1 auto;
}

#nuevo_prod {
    position: fixed;
    height: 50;
    top:231;
    width: 250px;
    margin-left: 700;
}
#nuevo_prod button{
    margin-top: 10px;
    width: 220px;
}
.form-control.file-caption{
    width: 250px;
}

#plantilla-producto .btn.btn-primary.btn-file{
    width: 100px;
    background: #bf3288;
    color:#fff;
 
}
#plantilla-producto .form-group:nth-child(5){ 
    margin-left: 0px;
    margin-top: 10px;
}

#catalogo .prod_list .editar{
 position:relative;
    margin-top: -20;
    margin-left: 95px;
    background: #fff;
    width: 550px;
    height: 110px;
    display: none;
}
#catalogo .prod_list .form-group{
    width: 200px;
    padding-left: 6px;
}
#catalogo .prod_list .col-lg-2{
    width: 80;
    padding-left: 10px;
    
}
#catalogo .prod_list input{
    width: 80;
}

#catalogo .prod_list .form-group:nth-child(2){
    position: absolute;
    width: 200px;

    margin-left: 200px;
}
#catalogo .prod_list  textarea{
    resize:none;
    width: 350px;

}
.prod_list #bot-editar{
    position: absolute;
    margin-left: 500px;
    margin-top: -48px;
}
.prod_list .guardar{
    position: absolute;
    margin-top: -80px;
    margin-left: 450px;
    height: 35px;
    width: 80px;
}
.prod_list .salir{
    position: absolute;
    margin-top: -30px;
    margin-left: 450px;
    height: 30px;
    width: 80px;
}

#panel .form-horizontal.izq{
    position: absolute;
    border-right-style: inset;
}
#panel .form-horizontal{
    width: 460px;
}

#panel .form-horizontal.izq .col-lg-1,
#panel .form-horizontal.der .col-lg-1{
    width: 100px;
 }
#panel .form-horizontal.izq .col-lg-3,
#panel .form-horizontal.der .col-lg-3{
    width: 300px;
 }
