
#header{
position:relative;
    height: 100px;
}

#listaanuncios {
    margin: 0 auto;
    width: 1100px;
    float:right;
}
#cuerpo{
position: relative;

}

.toolbar{
    position: relative;
    width: 200px;
    height: 50px;
    margin-left: 600px;
}
#logo {
    position: absolute;
    width: 300px;
    height: 100px;
    margin-top: 2px;
    margin-left: 24px;
}
#header .search{ 
    float: left;
    width: 300px;
    height: 50px;
    top:30px;
    margin-left: 500px;
}
#navegador{
    position: absolute;
    width: 300px;
    height: 600px;
    border-width: 2px;
    border-color: blue;
}
#contenido{
    margin-left: 300px;
    width: 100px;
    height: 600px;
    border-width: 2px;
    border-color: blue;
}

#buscar {
line-height: 100px;
float:center;
}
#toolbar{position:absolute;top:0;left:0;right:0;height:45px;background:#bf3288;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #d056a0), color-stop(1, #bf3288));background:-webkit-linear-gradient(top, #d056a0 0%, #bf3288 100%);background:-moz-linear-gradient(top, #d056a0 0%, #bf3288 100%);background:-o-linear-gradient(top, #d056a0 0%, #bf3288 100%);background:-ms-linear-gradient(top, #d056a0 0%, #bf3288 100%);background:linear-gradient(top, #d056a0 0%, #bf3288 100%);background:-o-linear-gradient(top,#d056a0 0%,#bf3288 100%);}
#toolbar li{margin-top:3px;margin-left:0;border:0;}
#toolbar li a,#toolbar li > span{float:left;border:1px solid #aaa;padding:10px 12px;text-decoration:none;border-color:rgba(0,0,0,0.4);color:#eee;text-shadow:0 -1px 0 rgba(0,0,0,0.8);font-weight:bold;}
#toolbar li a:hover,#toolbar li > span:hover,#toolbar li a:focus,#toolbar li > span:focus,#toolbar li a:active,#toolbar li > span:active{text-decoration:none}
#toolbar .button{background:none;padding-top:11px !important}
#toolbar{top:0;float:left;border-bottom:1px solid #c6c6c6;border-bottom:1px solid rgba(0,0,0,0.6);width:100%;min-width:240px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.2);box-shadow:0 1px 3px rgba(0,0,0,0.2);}
#toolbar li{position:relative;float:left;width:33.333333%;margin:0;border:0;}
#toolbar li a,#toolbar li > span{float:none;display:block;border:0;border-left:1px solid #c6c6c6;padding:14px 0;text-align:center;border-color:rgba(0,0,0,0.25);border-right:1px solid rgba(255,255,255,0.08);}
#toolbar li a span,#toolbar li > span span{display:none}
#toolbar li:first-child a{border-left:0}
#toolbar li:last-child a,#toolbar li:last-child span{border-right:0}
#toolbar .cart{float:left;}
#toolbar .cart .button{padding:14px 10px !important;}
#toolbar .cart .button span{display:inline-block}
#toolbar .cart .button .icon-shopping-cart{display:inline-block;vertical-align:top;margin-top:-3px;height:18px;color:#fff}
#toolbar .cart .button .qty{display:block;position:absolute;top:auto;bottom:-7px;right:2px}
#toolbar{position:relative;float:right;margin-top:18px;margin-right:2px;background:none;-webkit-box-shadow:none;box-shadow:none;}
#toolbar li{margin:0 5px}
#toolbar a{padding:14px 10px 8px 5px}
#toolbar .cart{margin-right:0;}
#toolbar .cart .button{font-weight:bold;padding-left:5px;padding-top:12px;padding-bottom:10px;color:#fff;line-height:1;text-shadow:0 -1px 0 rgba(0,0,0,0.5),0 1px 0 rgba(255,255,255,0.1);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);border:1px solid #bf3288;background:#bf3288;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #d056a0), color-stop(1, #bf3288));background:-webkit-linear-gradient(top, #d056a0 0%, #bf3288 100%);background:-moz-linear-gradient(top, #d056a0 0%, #bf3288 100%);background:-o-linear-gradient(top, #d056a0 0%, #bf3288 100%);background:-ms-linear-gradient(top, #d056a0 0%, #bf3288 100%);background:linear-gradient(top, #d056a0 0%, #bf3288 100%);background:-o-linear-gradient(top,#d056a0 0%,#bf3288 100%);-webkit-border-radius:3px;border-radius:3px;}