<!doctype html>
    <head>
        <title>Poxmania</title>
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-responsive.css" />
        <link rel="stylesheet" href="../static/css/css/bootstrap.min.css" />
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/css/estilo.css" media="screen">
                        </head>
    <body >
                    <!-- Header -->
<header id="header" class="row nosp">
					<h1 id="logo" class="logo">
					<a itemprop="url" href="prueba.html" title="back_to_home">

						<img itemprop="logo" src="../static/img/poxmania.png" alt="Pixmania Spain">
					</a>
					</h1>
			
			<form class="search" id="searchForm" method="POST"  action="">
	<fieldset>
		<span class="icon-search"></span>
		<input class="searchInput" id="search" name="search-field" data-search-url="http://www.pixmania.es/autocomplete/q/placeholder/ajax.html" data-min-chars="1" type="search" autocomplete="off" spellcheck="false" placeholder="¿Qué estás buscando?" dir="ltr" required>
		<input type="hidden" value="keyword_search" name="subaction">
		<button id="search_bttn" class="button btn btnBold" type="submit" >
			Buscar
		</button>
	</fieldset>
</form>	
	<div class="toolbar">
        <a href="#" class="btn btn-primary btn-lg active" role="button"><span>Mi cuenta</span></a>
        <a href="#" class="btn btn-primary btn-lg active" role="button">Cesta</a>
        </div>
</header>
	
		
		

    </body>
</html>
	